<div class="container">
  <div class= "white_card">
    <div class= "row padded">
      <h1><%= @flats.size %> Search results</h1>
      <% @flats.each do |flat| %>
        <div class= "col-md-6">
          <div class= "card-place">
            <div class="card-place-header"
                style="background-image: url(<%= flat.picture.url(:medium)%>);">
            </div>
            <div class="card-place-body relative">
              <h3><%= link_to flat.title, flat_path(flat) %></h3>
              <p><%= flat.price_per_night %>€/night</p>
              <p><%= flat.capacity %> persons</span></p>
              <p><%= flat.description %></p>
              <div class= "position">
              <%= image_tag flat.user.picture.url(:medium), class: "img-circle size"%>
              </div>
            </div>

            <div class="card-place-footer">
              <%= link_to flat_path(flat) do %>
                <i class="fa fa-search"></i>
              <% end %>
            </div>
        </div>
      <% end %>

      <div id="map" style='width: 800px; height: 400px'></div>
        <% content_for(:after_js) do %>
          <script type="text/javascript">
            $(document).on('ready', function() {
              handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function(){
                markers = handler.addMarkers(<%= raw @markers.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
                handler.getMap().setZoom(12);
              });
            })
          </script>
        <% end %>

    </div>
  </div>
</div>

<br>
<div class="text-center"><%= link_to "Rent Your Flat", new_flat_path, class: "btn btn-success" %></div>


