<div class="container">
    <div class= "white_card">
      <h1>My Profile</h1>
      <%= image_tag current_user.picture.url(:medium) %>
  <br>
      <p>Email: <%= current_user.email %></p>
      <p>Profile created at: <%= current_user.created_at %></p>
      <br>
      <p><%= link_to "Go to My Bookings", bookings_path %></p>

  <br>
  <br>
    </div>
</div>

<div class="container">
  <div class= "white_card">
    <div class= "row padded">
      <h1>My Flats</h1>
      <% @my_flats.each do |flat| %>
        <div class= "col-md-6">
          <div class= "card-place">
            <div class="card-place-header"
                  style="background-image: url(<%= flat.picture.url(:medium)%>);">
            </div>
            <div class="card-place-body">
              <h3><%= link_to flat.title, flat_path(flat) %></h3>
              <p><%= flat.city %></p>
              <p><%= flat.description %> </p>
              <p><%= flat.price_per_night %>€ / night, <%= flat.capacity %> persons</p>
            </div>
            <div class="card-place-footer">
              <%= link_to edit_flat_path(flat) do %>
                <i class="fa fa-pencil"></i>
              <% end %>
              <%= link_to flat_path(flat),
                method: :delete,
                data: { confirm: "Are you sure?" } do %>
                <i class="fa fa-trash"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
   <p><%= link_to "Add a new flat", new_flat_path, class: "btn btn-success" %></p>
  </div>
</div>






