<h1>Rent Your Flat</h1>

<%= simple_form_for @flat do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :price_per_night %>
  <%= f.input :capacity %>
  <%= f.submit %>
<% end %>
