<h1><%= @flat.title %></h1>
<br>
  <!-- <li><%= @flat.description %></li> -->
  <li><%= @flat.price_per_night %>€ / night</li>
  <li><%= @flat.capacity %> persons</li>
  <li><%= @flat.address %></li>
  <li><%= @flat.city %></li>
  <br>
</ul>

<p><%= link_to "Back to Search results", flats_path %></p>

<h2>Book</h2>
  <%= simple_form_for [@flat, @booking] do |f| %>
    <%= f.error_notification %>

    <%= f.input :nb_travelers %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :message %>

    <%= f.submit "Book", class: "btn btn-success btn-lg" %>
  <% end %>
