<h1><%= @flat.title %></h1>
<br>
  <!-- <li><%= @flat.description %></li> -->
  <li><%= @flat.price_per_night %>€ / night</li>
  <li><%= @flat.capacity %> persons</li>
  <li><%= @flat.address %></li>
  <br>
</ul>

<p><%= link_to "Back to Search results", flats_path %></p>
