 <div class="white_card">
<div class="container"></div>
  <div class="row">

      <div class="col-md-6">
        <h1><%= @flat.title %></h1>
        <p><%= @flat.city %></p>
        <br>
        <%= image_tag @flat.picture.url(:medium) %>
        <br>
        <br>
        <p><%= @flat.price_per_night %>€ / night - <%= @flat.capacity %> persons</p>
        <p><%= @flat.address %></p>

      </div>

    <div class="col-md-6">
      <div id="map" style='width: 500px; height: 400px'></div>
      <% content_for(:after_js) do %>
        <script type="text/javascript">
          $(document).on('ready', function() {
            handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'map' } }, function(){
              markers = handler.addMarkers(<%= raw @markers.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              handler.getMap().setZoom(12);
            });
          })
        </script>
      <% end %>
    </div>


      <h2>Book</h2>
      <%= simple_form_for [@flat, @booking] do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :nb_travelers %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.input :message %>
        </div>
        <div class="form-actions text-center">
          <%= f.submit "Book", class: "btn btn-success btn-lg" %>
        </div>
      <% end %>

  </div>
</div>

<br>
<div class="text-center"><%= link_to "Back to Search results", my_flats_flats_path %></div>


</div>
</div>

