

    <div class="container ">
      <div class= "white_card ">
      <h1>All my bookings </h1>

        <% if @bookings.first == nil %>
          <p> You currently have no bookings! Come & rent <%= link_to "here", root_path %> !</p>
        <% else %>
          <table class="bookings table table-striped">
            <tbody>
              <% @bookings.each do |booking| %>
                <tr class="shadow-table">
                  <td ><%= link_to booking.flat.title, flat_path(booking.flat)%></td>
                  <td ><%= booking.start_date%> au <%= booking.end_date %></td>
                  <td><%= booking.nb_travelers%></td>
                  <td><%= booking.status %></td>
                  <td>
                    <%= link_to booking_path(booking),
                        method: :delete,
                        data: { confirm: "Are you sure?" } do %>
                        <i class="fa fa-trash-o"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
     </div>
  </div>
  <br>
    <div class="container">
     <div class= "white_card">
      <h1>All the bookings on my flats  </h1>
        <table class="bookings table">
          <% @bookings_client.each do |booking| %>
            <tbody>
              <tr class="shadow-table">
                <td ><%= link_to booking.flat.title, flat_path(booking.flat)%></td>
                <td ><%= booking.start_date%> au <%= booking.end_date %></td>
                <td><%= booking.nb_travelers%></td>
                <td><%= booking.status %></td>

                <td>
                  <ul class="list-inline">
                    <li>
                      <%= button_to("Accept", { action: "update", id: booking.id }, { method: :put, params: { accept: true }, class: "btn btn-success" } ) %>
                    </li>
                    <li>
                      <%= button_to "Refuse", { action: "update", id: booking.id }, method: :put, params: { accept: false }, class: "btn btn-success" %>
                    </li>
                  </ul>
                </td>




              <% end %>
            </tr>
          </tbody>
        </table>
    </div>
  </div>










